

input[type='submit'], button, [aria-label] {
    cursor:pointer;
}

#editform {
    display:none;
}

table {
font-family:Arial, sans-serif;
border:1px solid;
border-collapse:collapse;
}

th {
    background-color:darkgrey; 
    padding:8px;
}

td {
border:1.2px solid; 
padding:9px; 
}
