

input[type='submit'], button, [aria-label] {
    cursor: pointer;
    border-color: #000;
    height: 50px;
    width: 100px;
}

.form-submit-button {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}


#editform {
    display:none;
}

table {
    font-family: Arial, sans-serif;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color:darkgrey; 
    padding:8px;
}

td {
border:1.2px solid; 
padding:9px; 
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
